:root{
    --color-filter-text: #080E11;
    --color-gray: #BABFC3;
}

.FilterDropdown {
    display: flex;
    flex-direction: column;
    padding: 0 1rem;
    color: var(--color-filter-text);
}

.FilterDropdown__Label {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 0.5rem 1rem;
    font-weight: 500;
    user-select: none;
}

.FilterDropdown__Indicator{
    display: none;
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: #0972C6;
    transform: translate(0.4rem, 0.1rem);
}

.FilterDropdown__Indicator._active{
    display: inline-block;
}

.FilterDropdown__Label:hover{
    cursor: pointer;
}

.FilterDropdown__Label:before,
.FilterDropdown__Label:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 0.4rem;
    height: 1px;
    background-color: var(--color-filter-text);
}

.FilterDropdown__Label:before{
    transform: rotate(45deg) translate(-0.1rem, -0.1rem);
}

.FilterDropdown__Label:after {
    transform: rotate(-45deg) translate(-0.1rem, 0.1rem);
}

.FilterDropdown__Label._active:before{
    transform: rotate(45deg) translate(0.1rem, 0.1rem);
}

.FilterDropdown__Label._active:after {
    transform: rotate(-45deg) translate(0.1rem, 0.3rem);
}

.FilterDropdown__Dropdown {
    display: none;
    flex-direction: column;
    padding: 0 1rem;
    border-left: 2px dashed var(--color-border);
}

.FilterDropdown__Label._active + .FilterDropdown__Dropdown{
    display: flex;
}

.FilterDropdown__Search {
    border: 1px solid var(--color-gray);
    padding: 0.2rem 0.4rem;
    border-radius: 0.2rem;
    margin-bottom: 1rem;
}

.FilterDropdown__Search:focus-visible{
    outline: 1px solid #0972C6;
}

.FilterDropdown__Search::placeholder {
    font-style: italic;
    color: var(--color-gray);
}

.FilterDropdown__InputsContainer{
    max-width: 300px;
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
}

.FilterDropdown__InputsContainer::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}
.FilterDropdown__InputsContainer::-webkit-scrollbar-thumb {
    border: 0.1rem solid var(--color-border);
    background: var(--color-header-footer);
    border-radius: 0.4rem;
}
.FilterDropdown__InputsContainer::-webkit-scrollbar-track {
    background: var(--color-header-footer);
}

.FilterDropdown__WrapperInput {
    display: flex;
    align-items:baseline;
    flex-wrap: nowrap;
    gap: 0.2rem;
}

.FilterDropdown__Input {
    margin: 0;
    transform: translateY(0.05rem);
}

.FilterDropdown__LabelCheckBox {
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.FilterDropdown__LabelCheckBox:hover {
    white-space: pre-wrap;
}
