.InfoCard {
    width: 100%;
    color: #4B535B;
    font-weight: 500;
    margin-bottom: 1.2rem;
}

.InfoCard__Content {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    border: 1px solid var(--color-border);
    border-radius: 0.4rem;
    padding: 1rem;
    gap: 0 0.4rem;
}

.InfoCard__Field {
    white-space: nowrap;
}

.InfoCard__Value {
}