/* COMMENT - total styles */
div{
    box-sizing: border-box;
}

:root{
    --color-header-footer: #F6F9FB;
    --color-border: #DDE1E6;
    --color-bg-active: #f1f8ff;
    --color-summary-border: #909FB9;
    --cell-padding: 1rem;
}

.UsersTable {
    position: relative;
}


/* COMMENT - filter styles */
.UsersTable__FilterIcon{
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.2rem;
}

.UsersTable__Filters{
    position: absolute;
    display: none;
    flex-direction: column;
    top: 0;
    left: 0;
    max-height: 25rem;
    padding: 1rem;
    border: 1px solid var(--color-border);
    background-color: var(--color-header-footer);
    border-radius: 0 0 0.4rem 0;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 150;
}

.UsersTable__Filters._active{
    display: flex;
}

.UsersTable__Filters::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
}
.UsersTable__Filters::-webkit-scrollbar-thumb {
    border: 0.1rem solid var(--color-border);
    background: var(--color-header-footer);
    border-radius: 0.4rem;
}
.UsersTable__Filters::-webkit-scrollbar-track {
    background: var(--color-header-footer);
}

/* COMMENT - table styles */
.UsersTable__WrapperTable{
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.6rem;
    border: 1px solid var(--color-border);
    table-layout:fixed;
    z-index: 100;
}

.UsersTable__Table {
    width: 100%;
    min-width: 900px;
    border-collapse: collapse;
}

.UsersTable__Nowrap{
    white-space: nowrap;
}

.UsersTable::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.7rem;
}
.UsersTable::-webkit-scrollbar-thumb {
    border: 0.1rem solid var(--color-border);
    background: var(--color-header-footer);
    border-radius: 0.4rem;
}
.UsersTable::-webkit-scrollbar-track {
    background: #fff;
}


/* COMMENT - head styles */
.UsersTable__Head {
    background-color: var(--color-header-footer);
}

/*.UsersTable__RowHead {}*/

.UsersTable__HeadCell{
    text-align: left;
}

.UsersTable__HeadSortable{
    position: relative;
}

.UsersTable__HeadSortable:hover{
    cursor: pointer;
}

.UsersTable__HeadSortable:before,
.UsersTable__HeadSortable:after {
    content: '';
    position: absolute;
    right: 0.5rem;
    border: 0.3rem solid transparent;
}
.UsersTable__HeadSortable:last-child:before,
.UsersTable__HeadSortable:last-child:after {
    right: 0.7rem;
}
.UsersTable__HeadSortable:before{
    top: calc(50% - 0.4rem);
    transform: translateY(-25%);
    border-bottom: 0.3rem solid #212529;
}
.UsersTable__HeadSortable._desc:before{
    display: none;
}

.UsersTable__HeadSortable:after{
    top: calc(50% + 0.3rem);
    transform: translateY(-25%);
    border-top: 0.3rem solid #212529;
}
.UsersTable__HeadSortable._asc:after{
    display: none;
}

.UsersTable__FilterLabel{
    position: absolute;
    top: 0;
    left: 0rem;
    transform: translateY(calc(-100% + 0.5rem));
    color: #22272A;
    border: 1px solid var(--color-border);
    border-radius: 0.2rem;
    border-bottom: 0;
    padding: 0.1rem 0.6rem 0.5rem;
    font-size: 0.9rem;
    white-space: nowrap;
    user-select: none;
    z-index: 50;
}

.UsersTable__FilterLabel:hover{
    background-color: var(--color-header-footer);
    cursor: pointer;
}

.UsersTable__Sup{
    display: inline-block;
    font-weight: 700;
    font-size: 0.6rem;
    transform: translateX(0.2rem);
}

.UsersTable__IconCLock{
    transform: translate(-0.2rem, 0.4rem);
    width: 0.8rem;
    height: 0.8rem;
}

/*.UsersTable__Body {}*/


/* COMMENT - cell styles */

.UsersTable__Cell {
    width: min-content;
    padding: 0.4rem var(--cell-padding);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: fit-content;
    box-sizing: border-box;
    border-bottom: 1px solid var(--color-border);
}

.UsersTable__Cell:hover{
    white-space: pre-wrap;
}

.UsersTable__Cell._active{
    border-bottom: none;
    background-color: var(--color-bg-active);
}

.UsersTable__Cell:not(:last-child){
    border-right: 1px solid var(--color-border);
}

.UsersTable__Cell:first-child,
.UsersTable__Cell:nth-child(2) {
    text-align: center;
    padding: 0.4rem 0.6rem;
}

.UsersTable__Cell._active .UsersTable__OpenButton{
    transform: rotate(-90deg) translateX(2px);
}


/* COMMENT - open button styles */

.UsersTable__OpenButton{
    position: relative;
    background-color: rgba(0,0,0,0);
    border: none;
    width: 0.6rem;
    height: 0.8rem;
    transform: rotate(0deg) translateY(-4px);
}

.UsersTable__OpenButton:focus-visible{
    outline: none;
}

.UsersTable__OpenButton:before,
.UsersTable__OpenButton:after{
    content: '';
    display: block;
    width: 0.5rem;
    height: 1px;
    background-color: #9C999F;
}

.UsersTable__OpenButton:before{
    transform: rotate(45deg) translateX(-3px);
}

.UsersTable__OpenButton:after{
    transform: rotate(-45deg) translateX(-3px);
}

.UsersTable__OpenButton:hover{
    cursor: pointer;
}


/* COMMENT - info row styles */

.UsersTable__RowInfo{
    display: none;
    background-color: var(--color-bg-active);
}

.UsersTable__RowInfo._active{
    display: table-row;
}

.UsersTable__Info{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
}

.UsersTable__TitleInfo{
    position: relative;
    display: flex;
    width: fit-content;
    padding: 0.5rem;
    transform: translateX(-0.5rem);
    border-bottom: 3px solid var(--color-summary-border);
    margin-bottom: 1.2rem;
}

.UsersTable__TitleInfo:before{
    content: '';
    position: absolute;
    display: block;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    border: 0.3rem solid transparent; border-top: 0.3rem solid var(--color-bg-active);
}

.UsersTable__TitleInfo:after{
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    border: 0.5rem solid transparent; border-top: 0.5rem solid var(--color-summary-border);
}
.UsersTable__ContentInfo{
    display: flex;
    flex-direction: row;
    gap: 0.8rem;
    width: 100%;
    height: 100%;
}

.UsersTable__BoxInfo{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.UsersTable__NoMatches{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 600;
    color: #BABFC3;
}

/* COMMENT - TFoot styles */

.UsersTable__CellFoot {
    background-color: var(--color-header-footer);
}

.UsersTable__WrapperFoot{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    height: 100%;
    padding: 0.2rem 0.8rem;
    box-sizing: border-box;
}

.UsersTable__BoxFoot{
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    width: 100%;
    margin: 0;
    white-space: nowrap;
}

.UsersTable__LabelFoot{
    font-weight: 500;
    font-size: 0.9rem;
    white-space: nowrap;
}

.UsersTable__InputFoot{
    width: 2.2rem;
    height: 1.5rem;
    border: 1px solid var(--color-border);
    border-radius: 0.3rem;
    margin: 0;
    padding-right: 1rem;
    white-space: nowrap;
}

.UsersTable__InputFoot:focus-visible{
    outline: -webkit-focus-ring-color auto 1px;
    outline: 2px solid var(--color-bg-active);
}

.UsersTable__Pagination{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    max-width: 50%;
}

.UsersTable__SearchBox{
    position: relative;
}

.UsersTable__SearchIcon{
    position: absolute;
    top: 0.5rem;
    right: 0rem;
    width: 1.1rem;
    height: 1.1rem;
}

.UsersTable__SearchIcon:hover{
    cursor: pointer;
}

.UsersTable__SelectRowsCount{
    padding: 0.4rem 0.2rem;
    border: 1px solid var(--color-border);
    border-radius: 0.2rem;
}

.UsersTable__PageCountBox{
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
}

.UsersTable__InfoFoot{
    justify-content: end;
}